// Ignore this till the next PR
// Duplicate this file to Debug.xcconfig and Release.xcconfig
// Fill in appropriate values (check with team, if you're uncertain)

// "/$()/" is needed in urls to prevent "//" from being interpreted as a comment
SUPABASE_URL=https:/$()/your-project-name.supabase.co
SUPABASE_ANON_KEY=your-anon-key
